<img src={{tweet.user.profileImageUrl}} class="avatar pull-left" alt="profile image">
<div class="tweet-content pull-left">
  <div>
    <strong class="name">{{tweet.user.name}}</strong>
    <span class="screen-name">
      @{{tweet.user.screenName}}
    </span>
    <span class="time">{{moment-from-now tweet.createdAt}}</span>
  </div>
  <div>
    <p>{{tweet.text}}</p>
  </div>
  <div>
    <span class="retweets">
      {{fa-icon "retweet"}} {{tweet.retweetCount}}
    </span>
    <span class="favorites">
      {{fa-icon "heart"}} {{tweet.favoriteCount}}
    </span>
  </div>
</div>
