@import "./ember-power-select-overrides";
@import "./loading";

body {
  padding-top: 20px;
}

.tweet {
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;

  .screen-name, .time {
    color: #8899a6;
  }

  .time:before {
    content: "\00b7";
    margin-right: 5px;
  }

  .fa:last-child {
    margin-left: 5px;
  }

  .avatar {
    margin-right: 15px;
  }

  .tweet-content {
    max-width: 657px;
  }
}

.btn, input[type="text"] {
  border-radius: 0;
}

.search-control {
  margin-bottom: 15px;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
}

.btn-primary {
  width: 100%;
}
