$ember-power-select-border-color: #ccc;
$ember-power-select-border-radius: 0;
$ember-power-select-trigger-default-border-radius: 0;
$ember-power-select-dropdown-default-border-radius: 0;

@import "ember-power-select";
