{{#if loading}}
  <div class="loading">
    <div class="overlay"></div>
    <div class="loader">Loading...</div>
  </div>
{{/if}}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {{#if formIsInvalid}}
        <p class="text-danger">Make sure to fill out at least one form field.</p>
      {{/if}}
      <div class="search-control">
        {{input value=searchCriteria.text id="search-text"}}
      </div>
      <div class="search-control">
        {{#power-select
          options=languages
          selected=searchCriteria.selectedLanguage
          onchange=(action "languageSelected") as |language|}}
            {{language.name}}
        {{/power-select}}
      </div>
      <div class="search-control">
        {{input value=searchCriteria.geocode placeholder="example: 37.781157,-122.398720,1mi"}}
      </div>
      <div class="search-control">
        <button class="btn btn-primary" id="search-button" onclick={{action "search"}}>Search</button>
      </div>
    </div>
  </div>
  {{#each model as |tweet|}}
    <div class="row">
      <div class="col-sm-12">
        {{tweet-item tweet}}
      </div>
    </div>
  {{else}}
    <div class="no-results">
      {{#if noPreviousSearch}}
        <p>Please make a search.</p>
      {{else}}
        <p>Your search criteria returned no results. Try another search.</p>
      {{/if}}
    </div>
  {{/each}}
</div>
